<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key="OpenAI_API_Key" value="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" />
	</appSettings>
</configuration>